body {
	font-family: Arial, sans-serif;
	margin: auto;
	max-width: 800px;
	padding:20px; 
	background: rgb(51,51,51);
    background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 52%);
	color: #f3fccb;
	border: 0.5px solid rgba(255, 255, 255, 0.041);
}

/* Estilos del encabezado */
header {
	text-align:center;
	margin-bottom:30px;
}
.encabezado h1{
	color: #5bfb4f;
	border-bottom: 1px solid #5bfb4f;
}
.acercademi .detalles{
	display: inline-flex;
	
}
.acercademi .card{
	border: 1px solid #ffffff46;
	width: 30%;
	border-radius: 10px;
	margin-left: 11%;
	padding: 15px;
	backdrop-filter: sepia(90%);
	cursor: pointer;
}

/* Estilos de la sección de proyectos */
#projects h2 {
	margin-bottom:10px;
}

.project-card {
	display:flex;
	align-items:center;
	margin-bottom:20px;
	border-radius:5px;
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
	border: 3px double;
}
.project-description{
	background-color: rgba(61, 61, 61, 0.26);
	transition: 1s;
}
.project-card img {
	width:300px;
	height:auto;
	border-radius:5px 0px 0px 5px;
	padding-left: 5px;
}
.project-card img:hover{
	scale: 1.4;
	transition: 1s;
}

.project-description {
	padding:20px;
	background-color:#ffffff00;
	border-radius:0px 5px 5px 0px;
	flex-grow:1; 
}
.project-description a{
	text-decoration: none;

}
@media screen and (max-width:800px ){
	.project-card {
		display: block;
		width: 76.5%;
		margin-left: 50px;
	}
	.project-card img {
		width: 97%;
	}

}
/*contactos*/
.contacto{
	text-align: center;
}
.contacto a{
	font-size:25px;
	padding-left:20px;
}
.contacto .bi-instagram {
	background: -webkit-linear-gradient(#405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.contacto .bi-facebook {
	background: linear-gradient(to right, #3b5998, #6d84b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contacto .bi-github{
	background: linear-gradient(to right, #24292e, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contacto :hover{
	text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.384);
}
/* Estilos de la sección de habilidades */
#skills ul {
	list-style-type:none;
	padding-left:30px;
	display: flex;
	cursor: pointer;
}
#skills ul img{
	padding-left: 25px;
}
@media screen and (max-width:800px ){
	#skills ul img{
		width: 15%;
	}
}
#skills ul img:hover{
	scale: 1.5;
	transition: 0.5s;
}
@media screen and (max-width:800px ){
	.acercademi .detalles{
		display: inline-block;
		margin-left: 50px;
	}
	.acercademi .card {
		border: 1px solid #ffffff46;
		width: 50%;
		border-radius: 10px;
		backdrop-filter: sepia(90%);
		cursor: pointer;
		margin-bottom: 22px;
	}
}  

/* Estilos del pie de página */
footer{
	text-align:center;
	margin-top:30px;	
}
small {
	color: #b3b3b3;
}